FHQuotes/FHQuotesClient/Service References/ServiceReference1/Sve2.FHQuotes.Interfaces.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Sve2.FHQuotes.Interfaces" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Sve2.FHQuotes.Interfaces" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Sve2.FHQuotes.Interfaces/Imports">
      <xsd:import namespace="http://Sve2.FHQuotes.Interfaces" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sve2.FhQuotes.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuotes_FIndCurrentPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:FIndCurrentPrice" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FIndCurrentPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:FIndCurrentPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FindAllStockSymbols_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllStockSymbols" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FindAllStockSymbols_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllStockSymbolsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FindStock_InputMessage">
    <wsdl:part name="parameters" element="tns:FindStock" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FindStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindStockResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FindCurrentQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCurrentQuote" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FindCurrentQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCurrentQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FIndQuoteInTImeRange_InputMessage">
    <wsdl:part name="parameters" element="tns:FIndQuoteInTImeRange" />
  </wsdl:message>
  <wsdl:message name="IQuotes_FIndQuoteInTImeRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:FIndQuoteInTImeRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuotes">
    <wsdl:operation name="FIndCurrentPrice">
      <wsdl:input wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FIndCurrentPrice" message="tns:IQuotes_FIndCurrentPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FIndCurrentPriceResponse" message="tns:IQuotes_FIndCurrentPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllStockSymbols">
      <wsdl:input wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FindAllStockSymbols" message="tns:IQuotes_FindAllStockSymbols_InputMessage" />
      <wsdl:output wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FindAllStockSymbolsResponse" message="tns:IQuotes_FindAllStockSymbols_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindStock">
      <wsdl:input wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FindStock" message="tns:IQuotes_FindStock_InputMessage" />
      <wsdl:output wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FindStockResponse" message="tns:IQuotes_FindStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCurrentQuote">
      <wsdl:input wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FindCurrentQuote" message="tns:IQuotes_FindCurrentQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FindCurrentQuoteResponse" message="tns:IQuotes_FindCurrentQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FIndQuoteInTImeRange">
      <wsdl:input wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FIndQuoteInTImeRange" message="tns:IQuotes_FIndQuoteInTImeRange_InputMessage" />
      <wsdl:output wsaw:Action="http://Sve2.FHQuotes.Interfaces/IQuotes/FIndQuoteInTImeRangeResponse" message="tns:IQuotes_FIndQuoteInTImeRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>