FHQuotes/FHQuotesClient/Service References/ServiceReference1/Sve2.FHQuotes.Interfaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Sve2.FHQuotes.Interfaces" elementFormDefault="qualified" targetNamespace="http://Sve2.FHQuotes.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Sve2.FhQuotes.Domain" />
  <xs:element name="FIndCurrentPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stokSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FIndCurrentPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FIndCurrentPriceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllStockSymbols">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllStockSymbolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FindAllStockSymbolsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stokSymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sve2.FhQuotes.Domain" minOccurs="0" name="FindStockResult" nillable="true" type="q2:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCurrentQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stocksymbol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCurrentQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sve2.FhQuotes.Domain" minOccurs="0" name="FindCurrentQuoteResult" nillable="true" type="q3:Quote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FIndQuoteInTImeRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockSymbol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FIndQuoteInTImeRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sve2.FhQuotes.Domain" minOccurs="0" name="FIndQuoteInTImeRangeResult" nillable="true" type="q4:ArrayOfQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>